.blindfold {
  display: block;
}
.btn {
  display: block;
}
.blind {
  display: none;
}
.spoiler {
  display: inline;
  border: 2px solid #333;
}
.spoiler-blind {
  background-color: #333; 
  color: #333;
}
